<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1"  />
		<httpRuntime targetFramework="4.6.1" />
	</system.web>
	<system.codedom>
	</system.codedom>
	<connectionStrings>
		<add name="baglantim" connectionString="Server =104.247.167.18\MSSQLSERVER2014; Initial Catalog = abrekkah_otogalerin; User Id = abrekkah_otogalerin; Password = cf46qR91!; " providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<system.web>
		<customErrors mode="Off" />
	</system.web>
</configuration>